.footer {
    /* position: fixed;
    bottom: 0;
    width: 100%; */
    /* flex-shrink: 0; */
    /* background-color: #303235; */
    /* padding: 1rem; */

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #303235;
    color: white;
    text-align: center;
    padding: 10px 0;
}
/*
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
}

.container {
    flex-grow: 1; 
}